@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*
{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
}
.container1
{
    height: 120vh;
    width: 20%;
    background-color: #D28C88;
    /* position: relative; */
    position: sticky;
    top: 0;
    z-index: 10;
   
}
.icon1{
    color: white;
    position: absolute;
    top: 25px;
    font-size: 20px;
    left: 20px;
    z-index: 1;
}
.icon1:hover{
    cursor: pointer;
}
.head{
    height: 110px;
    width: 180px;
    /* border: 1px solid white; */
    background-image: url(./imgs/studio__logo-white_2000x.png);
    background-size: 100% 100%;
    position: absolute;
    top: 80px;
    left: 30px;
    /* z-index: 1; */
}
.head:hover{
    opacity: .5;
    cursor: pointer;
}
ul{
    list-style: none;
    position: absolute;
    top: 230px;
    left: 30px;
    color: white;
}
ul>li{
    /* margin-top: 25px; */
    height: 40px;
    width: 240px;
    /* border: 1px solid red; */
}
ul>li:hover{
    color: #ae7470;
}
.gallery{
    height: 120vh;
    width: 300px;
    background-color: silver;
    /* margin-left: 230px; */
    margin-top: -292px;
    /* visibility: hidden; */
    left: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    z-index: 1;
    position: absolute;

    display: none;
    z-index: 3;
    
}

.li1:hover .gallery{
    /* visibility: visible; */
    display: block;
    /* background-color: red; */
    

}
.li1{
    /* border:2px solid green; */
    width: 95%;
    position: relative;
    z-index: 10;
}
.gal{
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}
.gal1{
    height: 190vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}
.gal2{
    height: 190vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}
.div1{
    height: 200px;
    width: 250px;
}
.div1:hover{
    cursor: pointer;
}
.div1 img{
    height: 100%;
    width: 100%;
}
.gallery p{
    color: black;
}
.div2
{
    height: 40px;
    width: 300px;
    background-color: grey;
}
.div2:hover{
    background-color: dimgray;
}
.icon2{
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}
.div2 p{
    color: white;
    margin-left: 80px;
    margin-top: -20px;
}

.gallery2{
    height: 120vh;
    width: 300px;
    background-color: #EDD89D;
    margin-left: 230px;
    /* margin-top: -335px; */
    position: absolute;
    top: -58%;
    z-index: 5;

    /* visibility: hidden; */
    overflow-x: hidden;
    overflow-y: scroll;
     display: flex;
display: none;

       
}
.gallery2 p{
    color: black;
}
.li2:hover .gallery2{
    /* visibility: visible; */
    display: block;
    display: flex;
}
.gallery3{
    height: 120vh;
    width: 300px;
    background-color: lightpink;
    margin-left: 230px;
    margin-top: -378px;
    overflow-y: scroll;
    visibility: hidden;
overflow-x: hidden;
     display: flex;
     z-index: 5;
   
    
}
.gallery3 p{
    color: black;
}
.li3:hover .gallery3{
    visibility: visible;
    display: flex;

}
.logos{
    height: 40px;
    width: 200px;
    /* border: 1px solid white; */
    position: absolute;
    bottom: 85px;
    margin-left: 25px;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}
.icon3{
    color: white;
    font-size: 20px;
}
.icon3:hover{
    cursor: pointer;
}
.p{
    color: white;
    line-height: 1.6;
    position: absolute;
    bottom: 0;
    left: 20px;
}
.main{
    width: 80%;
    /* border: 1px solid black; */
    position: relative;
}
.nab{
    height: 8vh;
    width: 100%;
    background-color: #F7F6F4;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.icon4{
    color: black;
    font-size: 22px;
}
.imgs{
    height: 95vh;
    width: 100%;
    background-image: url(./imgs/studio__iwto-01_1600x.jpg);
    background-size: 100% 100%;
    /* z-index: -1; */
    position: relative;
}
.para{
    height: 20vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hrr{
    background-color:#D28C88;
    height: 0.4vh;
    width: 15%;
    margin-top: 10px;
    border: none;

}
h1{
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 34px;
}
h1:hover{
    color: #ae7470;
    transition: .5s;
}
.container3{
    height: 170vh;
    width: 100%;
    background-color: #F9F7F5;
 position: relative;
 display: flex;
 flex-wrap: wrap;   
}
.child1{
    height: 45vh;
    width: 100%;
    /* position: absolute; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.son{
    height: 40vh;
    width: 20%;
    position: relative;
    /* border: 1px solid cyan; */
}
.son h3{
    text-align: center;
    color: #ae7470;
}
.son p{
    text-align: center;
}
.ali{
    height: 30vh;
    width: 100%;
    background-image: url(./imgs/shop195_1600x.jpg);
    background-size: 100% 100%;

}
.b{
    height: 35px;
    width: 100px;
    color: gray;
    font-size: 16px;
    background-color: #EDD89D;
    border-radius: 20px;
    position: absolute;
    top: 120px;
    left: 50px;
    visibility: hidden;
    border: none;
}
.b:hover{
    background-color: grey;
    color: white;
}
.ali:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali1{
    height: 35vh;
    width: 100%;
    background-image: url(./imgs/blaze2_1600x.jpg);
    background-size: 100% 100%;

}

.ali1:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali1:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}

.ali2{
    height: 35vh;
    width: 100%;
    background-image: url(./imgs/webcicadas_1600x.jpg);
    background-size: 100% 100%; 

}
.ali2:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali2:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali3{
    height: 35vh;
    width: 100%;
    background-image: url(./imgs/shop149_1600x.jpg);
    background-size: 100% 100%;

}
.ali3:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali3:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali4{
    height: 30vh;
    width: 100%;
    background-image: url(./imgs/shop127_1600x.jpg);
    background-size: 100% 100%;

}
.ali4:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali4:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali5{
    height: 30vh;
    width: 100%;
    background-image: url(./imgs/shop189_1600x.jpg);
    background-size: 100% 100%;

}
.ali5:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali5:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali6{
    height: 25vh;
    width: 100%;
    background-image: url(./imgs/shop177_1600x.jpg);
    background-size: 100% 100%; 

}
.ali6:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali6:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali7{
    height: 30vh;
    width: 100%;
    background-image: url(./imgs/collec-abstract1_1600x.jpg);
    background-size: 100% 100%;

}
.ali7:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali7:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali8{
    height: 30vh;
    width: 100%;
    background-image: url(./imgs/webss21_1600x.jpg);
    background-size: 100% 100%;

}
.ali8:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali8:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali9{
    height: 25vh;
    width: 100%;
    background-image: url(./imgs/shop110_1600x.jpg);
    background-size: 100% 100%;

}
.ali9:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali9:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali10{
    height: 30vh;
    width: 100%;
    background-image: url(./imgs/shop707_1600x.jpg);
    background-size: 100% 100%; 

}
.ali10:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali10:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.ali11{
    height: 30vh;
    width: 100%;
    background-image: url(./imgs/shop217_1600x.jpg);
    background-size: 100% 100%;

}
.ali11:hover{
    opacity: .7;
    cursor: pointer;
  
}
.ali11:hover .b{
    transform: translateY(-15px);
    cursor: pointer;
    transition: .5s;
    visibility: visible;
  
}
.container4{
    height: 55vh;
    width: 100%;
    background-color: #F9F7F5;
    /* border: 1px solid; */
    position: relative;
}
.header{
    height: 15vh;
    width: 100%;
    position: absolute;
    top: 10px;
    /* border: 1px solid; */
}
.header h1{
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 50px;
    color: #ae7470;
}
.footer{
    height: 40vh;
    width: 100%;
    position: absolute;
    /* border: 1px solid; */
    bottom: 0;
    display: flex;
    justify-content: space-around;
}
.foot{
    height: 40vh;
    width: 40%;
    /* border: 1px solid red; */
}
.foot p{
    text-align: center;
    margin-top: 10px;
    color: gray;
}
.container5{
    height: 50vh;
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: space-around;
}
.img1{
    height: 50vh;
    width: 30%;
    overflow: hidden;
    /* border: 1px solid cyan; */
}
.select{
    height: 30vh;
    width: 100%;
    background-image: url(./imgs/framing_1600x.jpg);
    background-size: 100% 100%;
    overflow: hidden;
}
.img1 h2{
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5px;
}
.img1 p{
    margin-top: 10px;
    margin-left: 5px;
}
.select:hover{
    transform: scale(1.05);
    transition: 1s;
}
.select1{
    background-size: 100% 100%;
    background-image: url(./imgs/post-tools2_1600x.jpg);
}
.select2{
    background-size: 100% 100%;
    background-image: url(./imgs/post-101_1600x.jpg);
}
.container6{
    height: 60vh;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section1
{
    height:25vh;
    width: 20%;
    /* border: 1px solid cyan; */
    background-image: url(./imgs/studio__logo-brown_1600x.png);
    background-size: 100% 100%;
}
.section1:hover{
    opacity: .5;
}